.header {
    display: flex;
    justify-content: space-between;
}

.header__name {
    font-family: "SpaceGrotesk", Arial, sans-serif;
    font-size: 32px;
    font-weight: 900;
}

.header__nav {
    z-index: 2;
}

.header__lists{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 32px;
}

.header__image {
    width: 24px;
    height: 24px;
}

.header__picture {
    width: 445px;
    height: 720px;
    z-index: 1;
    position: absolute;
    right: 0;
    margin-right: 165px;
}